@{
  Layout = "~/Views/Shared/_DialogLayout.cshtml";
}

<table class="list" width="100%" cellpadding="2" cellspacing="0">
  <colgroup>
    <col style="width:100px;"/>
    <col style="width:100px;"/>
    <col style="width:100px;"/>
    <col style="width:80px;"/>
    <col style="width:80px;"/>
    <col style="width:80px;"/>
    <col />
  </colgroup>
  <tr>
    <th>Claim Code</th>
    <th>DDW No</th>
    <th>Job Card No</th>
    <th>Date</th>
    <th>Status</th>
    <th>Amount</th>
    <th>Extra</th>
  </tr>
  <tr>
    <td>99999999</th>
    <td>008271A</th>
    <td>75W73922</th>
    <td>99/99/9999</th>
    <td>PAID</th>
    <td>99 999.99</th>
    <td></th>
  </tr>
</table>